
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:900);

body {
  font-family: Source Sans Pro;
}

/* overrides */

.features-circle {
  background-color: #c39e47;
  border: 6px solid black;
}

.features-item:hover .features-circle {
  background-color: #c39e47;
  border-color: black;
}

.logo, .logo span:first-child {
  white-space: nowrap;
  font-family: Source Sans Pro;
  text-transform : uppercase;
  color: rgba(255,255,255, 0.8);
}

.nsLogo {
  width: 30%;
  max-width: 200px;
}

.site-header {
  border-top: none;
  background-color: #F7F7F7;
  text-shadow: none;
  color: black;
}

.section-signup {
  background-color: #c39e47;
}

.site-header .logo {
  background-color: rgba(0, 0, 0, 0.5);
}

.signup-form .btn-side {
  text-decoration: none;
}

.signup-form .btn-side:hover {
  border-color: rgb(236,234,213);
  color: rgb(92,0,50);
  background-color: rgb(236,234,213);
}

.signupLink {
  color : rgb(236,234,213);
  background-color : rgb(92,0,50);
  line-height: 35px;
  margin: 1em;
  padding: 15px 30px;
  position: relative;
  opacity: .999;
  border-radius: 3px;
  transition: all 0.3s ease;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.signupLink:hover, .signupLink:active {
  color : rgb(236,234,213);
  background-color : rgb(140, 0, 76);
}




/* end color overrides */

.row { max-width: 850px; }

header { position: relative; }
header .row { z-index: 2; position: relative; }
.section-signup, .signup-subtitle { color: white; }
.section-signup a { color: white; text-decoration: underline; }

.subheader { text-align: center; color: white; text-transform: uppercase; }
.open-knowledge-foundation, .dat { width: 150px; float: right; }
.dat { margin-right: 35px; position: relative; top: 20px; }

.site-header {
  background-position: bottom center;
  background-image: url("../img/berlin-skyline.jpg");
}

.subheadline {
  font-size : 21px;
  padding : 0.5em 0;
  color: rgba(255,255,255, 0.8);
}

.header-intro-wrap {
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
.header-intro-wrap * {
  color : white;
}

.btn-docs {
  background: #a61300;
  border-color: #a61300;
}

.footer-info a {
  text-decoration: underline;
  color: black;
}


.footer-info {
  color: black;
}

.site-footer {
  background-color: #eeeeee;
}

.site-footer h3 {
  color: black;
}

#whatweuse .two, #whatweuse h2 {
  text-align: center;
}

.sponsorLogo {
  max-width: 200px;
  margin-top: 1em;
}

.sponsoredBy {
  text-align : center;
}

@media screen and (max-width: 40em) {
  .logo {
    font-size: 40px;
  }

  .subheadline, .header-intro-wrap p {
    font-size: 18px;
  }

  h2 {
    font-size: 20px;
  }

  .site-header {
    background-position: right center;
  }

  .btn-docs {
    border-color: #a61300;
  }
  .site-header {
  }
  .header-intro-wrap p {
    margin-top: 24px;
  }
  .header-signup {
  }
  .header-intro-wrap .hs-disclaimer {
    margin-top:50px;
  }
  .header-intro-wrap {
    padding-bottom: 50px;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 53.6%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.open-data-node {
  float: right;
}




/* international day */
#international {
  border-top: 3px solid black;
  background-image: url(http://nodeschool.io/images/international-day-bg.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-bottom: 4em;
  text-shadow: 1px 1px 10px #333333;
}
#international img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-bottom: -1.5em;
}
#international h3 {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
}
#international time {
  font-size: 1.5em;
  font-weight: 100;
}
#international h3, time {
  color: white;
  font-family: Helvetica, Arial, "sans-serif"
}
/* end international day */